*{  margin: 0;
    padding: 0;
    border: 0;
}
/*--Space--*/
header{
    width: 99%;
    background-color: blue;
    margin:0 auto;
    border: 5px solid black;
    padding: 25px;
}
/*--Space--*/
h1{
    color: #fff;
    padding-left: 100px;
    padding-bot: 10px;
    font-family: Verdana;
    font-size: 35px;
}