div{
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url(../aula_09/HTML5.png);
    background-size: 25%;
    background-repeat: repeat-y;
    position: relative;

}

