*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width:100%;
    height: 100%;
}

main > nav#menu {
    width: 20%;
    border-right: 1px solid black;
}

main > nav#menu > ol {
    width: 100%;
    height: 5%;
    border-bottom: 1px dotted black;
    align-items: center;
    cursor: pointer;
}

main > div#conteudo {
    width: 80%;
    height: 100%;
}

/*Clientes*/
main > div#conteudo > form#formClientes {
    border: 1px solid black;
    margin: 3% auto;
    font-family: 'Verdana';
}

main > div#conteudo > form#formClientes > label {
    width: 90%;
    margin: auto;
    font-size: 1rem;
}

main > div#conteudo > form#formClientes> input {
    width: 90%;
    height: 10%;
    padding-left: 1%;
    margin: auto;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;
}

main > div#conteudo > form#formClientes> div {
    width: 100%;
    height: 25%;
}

main > div#conteudo > form#formClientes > div > h1#titulo {
    width: 80%;
    margin: auto;
}

main > div#conteudo > form#formClientes > section {
    margin-top: 2%;
    width: 100%;
    height: 19%;
}

main > div#conteudo > form#formClientes > section > div.esquerda {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}

main > div#conteudo > form#formClientes > section > div.direita {
    margin-left: 0.1%;
    width: 49%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

/*Fim clientes*/

/*Inicio Produtos*/
main > div#conteudo > form#formProdutos {
    width: 30%;
    height: 50%;
    border: 1px solid black;
    margin: 3% auto;
}

main > div#conteudo > form#formProdutos > label {
    width: 90%;
    margin: auto;
    height: 6%;
    align-items: center;
}

main > div#conteudo > form#formProdutos > input {
    width: 90%;
    height: 8%;
    padding-left: 1%;
    margin: auto;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: bold;
}

main > div#conteudo > form#formProdutos > div {
    width: 100%;
    height:25%;
}

main > div#conteudo > form#formProdutos > div > h1#titulo_2 {
    width: 80%;
    margin: auto;
    font-family: 'Verdana';
}

main > div#conteudo > form#formProdutos > section {
    margin-top: 2%;
    width: 100%;
    height: 19%;
}

main > div#conteudo > form#formProdutos > section > div.esquerda {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}

main > div#conteudo > form#formProdutos > section > div.direita {
    margin-left: 0.1%;
    width: 49%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}
/*Fim Produtos*/

/*Inicio Pedidos*/
main > div#conteudo > form#formPedidos {
    width: 75%;
    border: 1px solid black;
    margin: 3% auto auto auto;
}

main > div#conteudo > form#formPedidos > div > h1#titulo_3 {
    width: 80%;
    height: 40px;
    margin: 6% auto;
    margin-right: 0;
    font-family: 'Verdana';
}

main > div#conteudo > form#formPedidos > label {
    width: 90%;
    height: 30px;
    align-items: center;
    margin: auto;
    font-size: 1.3rem;
}

main > div#conteudo > form#formPedidos > label#localizarProduto {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid black;
    margin-bottom: 10px;
}

main > div#conteudo > form#formPedidos > label#ItensPedido {
    margin-top: 10px;
    border-top: 2px solid black;
}

main > div#conteudo > form#formPedidos > input {
    width: 90%;
    height: 50px;
    border: 1px solid black;
    margin: auto;
    padding-left: 1%;
    font-size: 1.5rem;
}

main > div#conteudo > form#formPedidos > section{
    width: 90%;
    height: 100px;
    margin: auto;
    background-color: lightgrey;
    align-items: center;
}

main > div#conteudo > form#formPedidos > section > input{
    width: 10%;
    height: 80%;
    border: 1px solid black;
    margin-left: 1%;
    padding-left: 1%;
    font-size: 1.2rem;
}

main > div#conteudo > form#formPedidos > section > input#segundoElemento {
    width: 30%
}

main > div#conteudo > form#formPedidos > section > input#terceiroElemento {
    width: 15%
}

main > div#conteudo > form#formPedidos > section > input#quartoElemento {
    width: 15%
}

main > div#conteudo > form#formPedidos > section > input#quintoElemento {
    width: 24%;
    text-align: center;
    font-weight: bold;
    font-weight: 1.5rem;
    padding-left: 0;
}

table {
    width: 90%;
    margin: 0.5% auto;
    text-align: left;
}

th,td {
    font-size: 1.2rem;
    padding-left: 1%;
}

main > div#conteudo > form#formPedidos > section#SectionTotal{
    width: 90%;
    height: 80px;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
}

main > div#conteudo > form#formPedidos > section#SectionTotal > input {
    width: 20%;
    height: 75%;
    background-color: grey;
    font-size: 1.8rem;
    text-align: center;
    color: red;
    border-radius: 5px;
}
/*Fim Pedidos*/

/*Classes*/
.botao {
    width: 25%;
    height: 50%;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.botao_anterior {
    background-color: #6200EA;
}

.botao_proximo{
    margin-left: 5%;
    background-color: #6200EA;
}

.botao_novo{
    width: 50%;
    height: 50%;
    background-color: #039BE5;
}

.botao_salvar{
    margin-left: 5%;
    width: 50%;
    height: 50%;
    background-color: green;
}

.botaoFechar {
    width: 10%;
    margin: auto;
    margin-left: 0;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: flex-end;
    color: red;
    cursor: pointer;
    background-color: white;
}

.botaoFecharPedidos {
    width: 10%;
    height: 40px;
    margin: auto;
    margin-left: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    cursor: pointer;
    background-color: white;
}

.flex {
    display: flex;
}


.form-flex {
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 40vh;
}

.titulo {
    font-size: 25px;
    font-weight: bold;
    text-decoration:underline ;
}

.subtituloAzul {
    color: blue;
    font-weight: bold;
}

/*JavaScript*/
.sumirForm{
    display: none;
}

.aparecerForm{
    display: block;
}

.sumirSection{
    display: none;
}

.aparecerSection{
    display: flex;
}