*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 100%;
    font-family: Verdana;
}

main {
    width: 100vw;
    height: 100vh;
}

main > form {
    min-width: 20vw;
    height: 30%;
    margin: auto;
    border: 1px solid #aaa;
}

main > form > label {
    width: 94%;
    height: 10%;
    margin: 1% auto;
    padding-top: 2.5%;
    display: block;
}

main > form > input {
    display: block;
    width: 94%;
    height: 15%;
    border: 1px solid #aaa;
    margin: 2% auto;
    padding-left: 3%;
    font-size: 1rem;
}

main > form > input:focus-visible {
    border: 2px solid #0c78a9;
    box-shadow: 0 0 4px 0 #0c78a9 ;
    outline: none;
}

main > form > input#button {
    margin-top: 2%;
    height: 28%;
    background-color: #29B6F6;
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
}

.flex{
    display: flex;
}
