*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    font-size: 100%;
    --cor-border-geral: #CFD8DC;
    --cor-padrao-fonte: #434F55;
    --font_padrao: 'Righteous', cursive;
    --font_cor_titulo: #E53935;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--font_padrao);
    color: var(--cor-padrao-fonte);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

a.go:hover{
    background-color: var(--font_cor_titulo);
    color: #fff;
    transition: 2s;
}

header, main, footer{
    width: 80%;
    margin: auto;
}

header#top_header{
    border-bottom: 2px solid var(--cor-border-geral);
    height: 60px;
}

.flex{
    display: flex;
}

header#top_header h1, header#top_header nav {
    width: 50%;
}

header#top_header h1 {
    color: var(--font_cor_titulo);
    font-family: var(--font_padrao);
    font-size: clamp( 1rem ,2.4vh, 3rem);
    align-items: center;
}

header#top_header nav ul {
    width: 100%;
    justify-content: flex-end;
}

.icons-list{
    margin-right: 2px;
    font-size: 2rem;
}

nav ul li{
    width: 130px;
    justify-content: center;
    align-items: center;
}

section#section-cards{
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

section#section-cards > div.card {
    width: 320px;
    height: 380px;
    border: 1px solid black;
    flex-grow: 1;
}

img.card-img-pizza{
    width: 100%;
    height: 230px;
    padding: 2px;
}

section > div > form.formTamanhoPizza {
    align-items: center;
    justify-content: center;
}

section > div > form.formTamanhoPizza > label {
    width: 30px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

h2.sub-titulo-pizza{
    font-size: 1.2rem;
    font-family: var(--font_family);
    text-align: center;
    padding: 10px 0 10px 0;
}

div.botao{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

div.botao > input.inputbtn{
    width: 60%;
    height: 50px;
    background-color: green;
    color: #fff;
    cursor: pointer;
}

footer{
    font_family: var(--font_family);
    height: 60px;
    margin-top: 10px;
    text-align: center;
}

figure{
    cursor: pointer;
}